/* general */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position:relative;
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.container{
    width:80%;
    margin:auto;
}

.ib{
    display: inline-block;
}

.fleft{
    float:left;
}

.fright{
    float:right;
}

/* All txt */

.main-txt, .radiobutton label{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    font-size:18px;
    line-height:28px;
}

.txt-center{
    text-align:center;
}

.radiobutton label{
    font-weight:300;
    vertical-align: middle;
}

.caption{
    font-family:'Gothic A1', sans-serif;
    font-size:14px;
}

.caption a, .caption a:hover, .caption a:focus, .caption a:visited{
    color: #0061FF;
    text-decoration:underline;
}

.caption a:hover{
    text-decoration:none;
}

.cpt-light{
    color:grey;
}

h2, h3, h6{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:85px;
    letter-spacing: -0.5px;
    margin-bottom: 60px;
}

h2{
    font-size:50px;
    width:100%;
    margin:auto;
}

h3{
    font-size: 25px;
}

h6{
    font-size: 18px;
}


/* debug - delete later */

.debug main{
    height:1500px;
    background-color: pink;
    margin-bottom:120px;
}

.debug footer{
    height:100px;
    background-color: #000;
}

/* .debug .col{
    height:200px;
    background-color: red;
} */

.debug .full{
    height:120px;
    background-color: red;
    margin-top:5%;
}


/* header */

header{
    width:100%;
    height: 80px;
    background-color: #fff;
    border-bottom:1px solid lightgray;
    line-height: 80px;
    z-index: 100;


    position: fixed;
    
    font-family:'Roboto', sans-serif;
} 

#logo{
    background:transparent url(../img/logo.png) scroll no-repeat center;
    background-size: contain;
    width:120px;
    height:80px;
    margin-left:20px;
}

/* navigation */

.main-nav{
    width:50%;

    font-size:18px;
    letter-spacing: 0.2px;
    font-weight:400;
}

.main-nav ul{
    width:70%;
}

.main-nav ul li{
    display: inline-block;
    list-style: none;
    margin:0 6%;
}

.main-nav a, .main-nav a:hover, .main-nav a:visited, .main-nav a:focus{
    color:#000;
    text-decoration: none;
}

.main-nav ul li:nth-child(2){
    margin:0;
}

.main-nav ul.fright{
   text-align:right;
}

.main-nav .btn{
    margin: 24px 20px 24px 0;
    line-height: 31px;
    padding:0 20px;

    font-size:16px;
}

/* All buttons */

.btn{
    font-family: 'Roboto', sans-serif;
    padding:10px 15px;
    font-size:16px;
}

.jumbo .btn, main .btn{
    margin:40px 0 10px 0;
}

.btn-blue{
    background-color: rgb(0, 97, 255);
    color:#fff;
}

.btn-blue:hover{
    background-color: rgb(59, 133, 255);
    color:#fff;
}

.btn-blue a, .btn-blue a:hover, .btn-blue a:visited, .btn-blue a:focus{
    color:#fff;
    text-decoration:none;
}

/* jumbotron */

.jumbo{
    height:850px;
    padding: 130px 55px 0 55px;
    background-color: rgb(180, 208, 231);
    margin-bottom:200px;
}

.hero-container{
    position:relative;
}

.debug .hero-col-min{
    width:25%;
}

.debug .hero-col-max{
    width:50%;
    margin-left:8%;
}

.jumbo-img{
    width:100%;

    transform: translate(-50px, 0) scale(1.5);
    transform-origin:top left;
}

.ico-big{
    background:transparent url(../img/icons/arrow-down.svg) scroll no-repeat center;
    background-size:cover;
    width: 27px;
    height: 40px;
    margin-top: 50px;
}

/* Main */

.radio-container{
    width:100%;
    margin:40px 0;
}

.radiobutton{
    margin-right:2%;
}

.radiobutton input{
    width:20px;
    height:20px;
    vertical-align: middle;
}

.col{
    width:30%;
}

.center-col{
    margin:0 5%;
}

.full{
    width:100%;
}

/* Plans */

.plan-col{
    border:1px solid lightgray;
    background-color: #fff;
}

.plan-top{
    border-bottom:1px solid lightgray;
    padding:10px 0;
}

.plan-main{
    padding:30px;
}

.plan-type, .main-features{
    height: 120px;
    margin-bottom: 30px;
}

.all-features{
    height: 300px;
}

.plan-type h6{
    margin:15px 0;
}

.all-features h6{
    margin-bottom:25px;
}

.ico{
    display: block;
    vertical-align: middle;
}

.user-ico::before, .team-ico::before,
.folder-ico::before, .pencil-ico::before,
.users-ico::before, .happy-ico::before, .check::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right:5px;
}

.user-ico::before{
    background: transparent url(../img/icons/user.svg) scroll no-repeat center;
    background-size: contain;
}

.team-ico::before{
    background: transparent url(../img/icons/team.svg) scroll no-repeat center;
    background-size: contain;
}

.folder-ico::before{
    background: transparent url(../img/icons/folder.svg) scroll no-repeat center;
    background-size: contain;
}

.users-ico::before{
    background: transparent url(../img/icons/users.svg) scroll no-repeat center;
    background-size: contain;
}

.pencil-ico::before{
    background: transparent url(../img/icons/pencil.svg) scroll no-repeat center;
    background-size: contain;
}

.happy-ico::before{
    background: transparent url(../img/icons/happy.svg) scroll no-repeat center;
    background-size: contain;
}

.check::before{
    background: transparent url(../img/icons/check.svg) scroll no-repeat center;
    background-size: contain;
}

.main-features .caption span, .check span{
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

.main-features p:nth-child(2){
    margin:20px 0;
}

.plan-col .btn{
    width:100%;
    text-align:center;
    font-size:17px;
    font-weight:300;
    letter-spacing: 0.5px;
}

.trial .caption{
    margin:20px 0 30px 0;
}

.separator{
    border-top:1px solid lightgrey;
    width:20%;
    margin-bottom:20px;
}

p.check{
    margin-top: 15px;
}